body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFEEE2;
}
p{
	font-family: 'Quicksand', sans-serif;
	text-align: center;
	font-size: 20px;
}
button{
	width: 100%;
	max-width: 300px;
	box-sizing: border-box;
	border: 0px solid grey;
	height: 40px;
	margin: 6px 0px 6px 0px;
	background-color: #FFA0A5;
	font-size: 14px;
	border-radius: 5px;
	transition: color 400ms ease-out;
	transition: background-color 300ms ease-out;
}
button:hover{
	background-color: #FF3273;
	color: #FFFFFF;
	font-size: 15px;
	transition: color 400ms ease-out;
	transition: background-color 300ms ease-out;
}
input{
	size: 125%;
}
.diff{
	font-size: 14px;
}
.ai-difficulty{
	margin: auto auto;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: baseline;
}
#container-GUI{
	background-color: #D1FFFB;
	margin: 10% auto 0px auto;
	padding: 30px 40px 50px 40px;
	width: 300px;
	border-radius: 7px;
	box-shadow: 1px 1px 2px 2px #DBDBDB;
	line-height: 200%;
}
.category{
	font-size: 14px;
}
.footer{
	float: right;
	font-size: 10px;
	line-height: 9px;
	padding-top: 20px;
}

#congkakContainer {
	display: none;
	border-radius: 4px;
	width: 720px;
	height: 480px;
	box-shadow: 0px 0px 9px 2px #BBBBBB;
}