body{
	font-family: Arial, Helvetica, sans-serif;
}
p{
	text-align: center;
	font-size: 20px;
}
button{
	width: 100%;
	max-width: 300px;
	box-sizing: border-box;
	border: 0px solid grey;
	height: 40px;
	margin: 6px 0px 6px 0px;
	background: rgb(161,240,255,1);
	font-size: 14px;
	border-radius: 5px;
}
button:hover{
	background: rgb(255,161,214,1);
	transition: background-color 300ms ease-out;
}

#container-GUI{
	margin: 10% auto 0px auto;
	padding: 30px 40px 50px 40px;
	width: 300px;
	border-radius: 7px;
	box-shadow: 1px 1px 2px 2px #DBDBDB;
	line-height: 200%;
}
.category{
	font-size: 14px;
}
.footer{
	float: right;
	font-size: 10px;
	line-height: 9px;
	padding-top: 20px;
}

#congkakContainer {
	display: none;
}